<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .success{
            color: green;
        }
        .info{
            color: red;
        }
    </style>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
    </form>
    <!-- {% if messages %}
    {% for message in messages %}
    <span style="color: red;">{{message}}</span>
    {% endfor %}
    {% endif %}
    </form> -->

    <!-- coloring the text  -->
    {% if messages %}
    {% for message in messages %}
    <span {% if message.tags %} class="{{message.tags}}" {% endif %} >{{message}}</span>
    {% endfor %}
    {% endif %}
</body>
</html>

<!-- 
{% if messages %}
{% for message in messages %}
{% if messages.tags %} {{message.tags}} {% endif %}
{{message}}
{% endfor %}
{% endif %} -->